body {
    background-color: #232323;
    margin: 0;
    font-family:"Montserrat", "Avenir";
    height: 100%;
}
.box{

    width: 33%;    
    float:left;
    margin-top: 5px;
    margin-left: 1px;
    border-radius:5px;
    align-items: center;
    min-height: 100%;
}


.square {
    width: 40%;
    background-color: purple;
    padding-bottom: 43%;
    float: initial;
    margin: 2% 33%;
    border-radius: 15%;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
}

h1 {
    color: white;
    font-weight: normal;
    text-align: center;
    background: lightblue;
    margin: 10px 0px;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 44% 0;
    border-radius:15px;

}
/* Large Screen */
@media (min-width: 1680px) {
    h1 {
        padding: 55% 0;
    }
}
/* Small Screen */
@media (max-width: 978px) {
   
    h1 {
        font-size: 1.4rem;
    }
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;

}
#message {
    display: inline-block;
    width: 20%;
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    color: lightblue;
    letter-spacing: 1px;
    font-size: inherit;

}
.selected {
    background: white;
}

#colorDisplay {
    font-size: 200%;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: lightblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    outline: none;
}


button:hover {
    color: white;
    background-color: lightblue;
}

#Bottom {
    text-align: center;
    position: relative;
}